<!--Navegation Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Curriculum Vitae</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Presentación <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="page2">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="page3">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="page4">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="page5">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--Navigation Menu-->
