 <!--Page Design-->
 <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img src="./assets/ux.png" class="card-img-top" alt="Cambio de Access Points">
          <div class="card-body">
            <h5 class="card-title"><a href="https://www.coursera.org/professional-certificates/google-ux-design">Certificado profesional 
            de Diseño de experiencia del usuario (UX) de Google</a></h5>
            <p class="card-text">Instructor: Google Career Certificates</p>
            <li class="card-text">Fundamentos del diseño de experiencias de usuario (UX)</li>
            <li class="card-text">Start the UX Design Process: Empathize, Define, and Ideate</li>
            <li class="card-text">Build Wireframes and Low-Fidelity Prototypes</li>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img src="./assets/ibm.png" class="card-img-top" alt="Cambio de Access Points">
            <div class="card-body">
              <h5 class="card-title"><a href="https://www.coursera.org/professional-certificates/ibm-data-analyst">Certificado profesional
                de Analista en datos de IBM</a></h5>
              <p class="card-text">Instructor: Rav Ahuja</p>
              <li class="card-text">Introducción al análisis de datos</li>
              <li class="card-text">Aspectos básicos de Excel para el análisis de datos</li>
              <li class="card-text">Visualización de datos y paneles principales con Excel y Cognos</li>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img src="./assets/UNM.png" class="card-img-top" alt="Cambio de Access Points" height="197">
            <div class="card-body">
              <h5 class="card-title"><a href="https://www.coursera.org/learn/aplicaciones-web">Desarrollo de Aplicaciones Web: Conceptos Básicos</a></h5>
              <p class="card-text">Instructor: Manel Martínez-Ramón</p>
              <li class="card-text">Módulo #1 - Aplicaciones Web en Contexto</li>
              <li class="card-text">Módulo #2 - Marcos de Aplicaciones Web</li>
              <li class="card-text">Módulo #3 - Gestión de Datos</li>
            </div>
          </div>
      </div>
    </div>
  </div>
  &nbsp;
  <!--Page Design-->