<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
  <div class="col d-flex flex-column align-items-start gap-2">
    <div class="card" style="width: 38rem;">
      <div class="card-body">
        <h5 class="card-text">Formación Académica</h5>
        <p> En esta página demuestro los colegios en los que he estudiado. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      <div class="col d-flex flex-column gap-2">
        <div class='pageOption'>
          <a class='option' data-inf='photo'>
            <img src='../assets/mistral.png'>
          </a>
          <a class='option' data-inf='cinema'>
            <img src='../assets/insurgentes.jpg'>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text">Educación Primaria</h5>
          <li>
            Primaria Gabriela Mistral
          </li>
          <li>
            Colegio Insurgentes
          </li>
        </div>
      </div>
      <div>
        <div class="col d-flex flex-column gap-2">
          <img src="./assets/panam.png" class="card-img-top" alt="..." style="width: 18em; height: 12em;">
          <div class="card-body">
            <h5 class="card-text">Educación Secundaria</h5>
            <li>
              Panamerican School of Reynosa
            </li>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column gap-2">
        <img src="./assets/cobat.jpg" class="card-img-top" alt="..." style="width: 18em; height: 12em;">
        <div class="card-body">
          <h5 class="card-text">Bachillerato</h5>
          <li>
            Colegio de Bachilleres del Estado de Tamaulipas Plantel 22
          </li>
        </div>
      </div>
      <div class="col d-flex flex-column gap-2">
        <img src="./assets/uda.jpg" class="card-img-top" alt="..." style="width: 18em; height: 12em;">
        <div class="card-body">
          <h5 class="card-text">Universidad</h5>
          <li>
            Universidad del Atlántico Campus Ribereña
          </li>
        </div>
      </div>
    </div>
  </div>
</div>