<!--Jumbotron-->
<div class="jumbotron" style="padding: 1em;">
    <div class="container">
      <h1 class="display-4">Acerca de mi</h1>
      <p class="lead">Utilizo esta página para introducirme y dar una idea de quién soy y por qué soy de valor.</p>
    </div>
  </div>
  <!--Jumbotron-->
  
  <!--Page Design-->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 13rem;">
          <img src="./assets/TrabajoAP.jpg" class="card-img-top" alt="Cambio de Access Points">
          <div class="card-body">
            <h5 class="card-title">Edwin Eduardo Sánchez Escandón</h5>
            <p class="card-text">Aunque aún no acabo la carrera, ya tengo experiencia en el área.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p>
          Mi nombre es Edwin Eduardo Sánchez Escandón. Actualmente estudio la carrera de Ingeniería en Sistemas Computacionales en la Universidad
          del Atlántico. Mi padre me introdujo a la computación cuando tenía alrededor de 4 años. Desde entonces surge mi pasión por la carrera. 
          A la edad de 12 años mi madre me inscribe a un curso universitario de informática nivel intermedio, sin embargo,
          recibí el diploma a las 2 semanas, debido a que los profesores consideraban que estaba demasiado avanzado.
        </p>
      </div>
      <div class="col-sm-3">
        <p>
          Falta menos de un año para terminar mis estudios. Tengo ya un año de experiencia en el campo, pues mientras estudiaba, también trabajaba
          y tuve la oportunidad de formar parte del equipo de IT de la empresa. En donde aprendí diversas habilidades, como el trabajo bajo presión,
          programación en VBA Access, soporte técnico remoto e identificación de problemas de redes (En base a OSI), por mencionar algunas.
        </p>
      </div>
    </div>
  </div>
  &nbsp;
  <!--Page Design-->